---
// import { Image } from 'astro:assets';
import Navigation from '../components/navigation.astro';
import TeamPic from "../Images/TeamPic.png"
import Footer from '../components/footer.astro';
import Arrow from "../Images/Arrow.png"
import CIRC from "../Images/CIRC.png"
import Placeholder from "../Images/PlaceholderMember.png"
import LinkedIn from "../Images/LinkedIn.png"
// import TEST from "../Images/Team_Members/ash_wide.JPG"
import "../styles/global.css"
import "../styles/about.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sidus Robotics</title>
	</head>
	<body>
        <Navigation/>

		<section class="content-container" id="about-background">

			<div id="arrow-animation">
				<img src={Arrow.src} alt="">
			</div>
			
			<img src={TeamPic.src} alt="siduslogo.png" id="sidus-about">

			<div id="about-animation">
				<h1 id="about1">ABOUT US</h1>
				<h1 id="about2">ABOUT US</h1>
				<h1 id="about3">ABOUT US</h1>
			</div>

			<div id="teampic-blur"></div>

		</section>

		<section class="content-container" id="about-main-content">
			<h1>OUR MISSION</h1>

			<div>
				<p>
					Sidus Robotics is committed to advancing space robotics while providing students at Memorial University with valuable hands-on experience. Beyond skill development, our mission is to position Memorial University as a hub for innovation in robotics and space exploration. By competing in the Canadian International Rover Challenge (CIRC) we push the boundaries of research and technology. Teams participating in CIRC tackle real-world challenges by simulating early space settlement scenarios on extraterrestrial terrain, testing their rovers in dynamic and demanding environments. Depending on their chosen division, teams compete in either winter or summer events, proving their rover's capabilities in different conditions. Through this project, Sidus Robotics is not only preparing the next generation of engineers and innovators but also showcasing Newfoundland and Memorial University on the national stage.
				</p>
			</div>
		</section>
		
		<section class="content-container" id="about-secondary-content">
			<h1>UP AND COMING</h1>

			<div>
				<p>
					The Canadian International Rover Challenge (CIRC) is a university-level competition that challenges students to design, build, and test a rover capable of operating in Mars-like conditions. Hosted by the Canadian Space Technology Advancement Group (CSTAG), the competition fosters innovation in space robotics while providing students with hands-on experience in mechanical design, electronics, and software development. Throughout the challenge, teams must simulate real-world space exploration scenarios, tackling complex tasks such as autonomous navigation, object manipulation, and terrain traversal. Sidus Robotics is excited to take on this challenge, representing Memorial University and contributing to the future of space technology.
				</p>
				<a href="https://circ.cstag.ca/" target="_blank"><img src={CIRC.src} alt=""></a>
			</div>
		</section>

		<section class="content-container" id="about-tertiary-content">
			<h1>OUR TEAM</h1>

			<div class="mechanical-row">
				<h2>MECHANICAL</h2>
				<div class="member-container">
					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>
				</div>
			</div>

			<div class="software-row">
				<h2>SOFTWARE</h2>
				<div class="member-container">
					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>
					
					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>
				</div>
			</div>

			<div class="electrical-row">
				<h2>ELECTRICAL</h2>
				<div class="member-container">
					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>
				</div>
			</div>

			<div class="business-row">
				<h2>BUSINESS</h2>
				<div class="member-container">
					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>

					<div>
						<img src={Placeholder.src} alt="" class="member">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<a href=""><img src={LinkedIn.src} alt=""></a>
					</div>
				</div>
			</div>
		</section>
		<Footer/>
	</body>
</html>