---
import { Image } from 'astro:assets';
import Navigation from '../components/navigation.astro';
import softwareImage from '../Images/softwareteam.png';
import electricalImage from '../Images/electricalteam.jpg';
import mechImage from '../Images/mechanicalteam.webp';
import businessImage from '../Images/businessteam.jpg';
import "../styles/global.css"
import "../styles/about.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sidus Robotics</title>
	</head>
	<body>
        <Navigation />
		<h1>About Us</h1>
		<p>Sidus Robotics is a new design team at Memorial university, and is the university's only Mars rover design team.
			The team aims to compete in the Canadian International Rover Competition (CIRC) in 2026. This competition is held twice annually, and is open to rover design teams across the world.
		</p>
		<div class="teams">
			<div>
				<img src={softwareImage.src} alt="Software logo">
				<h2>Software</h2>
			</div>
			<div>
				<img src={electricalImage.src} alt="Electrical logo">
				<h2>Electrical</h2>
			</div>
			<div>
				<img src={mechImage.src} alt="Mechanical logo">
				<h2>Mechanical</h2>
			</div>
			<div>
				<img src={businessImage.src} alt="Business logo">
				<h2>Business</h2>
			</div>
		</div>
	</body>
</html>