---
// import { Image } from 'astro:assets';
import Navigation from '../components/navigation.astro';
import TeamPic from "../Images/TeamPic.png"
import Footer from '../components/footer.astro';
import Arrow from "../Images/Arrow.png"
import CIRC from "../Images/CIRC.png"
import Placeholder from "../Images/PlaceholderMember.png"
import LinkedIn from "../Images/LinkedIn.png"
// import TEST from "../Images/Team_Members/ash_wide.JPG"
import "../styles/global.css"
import "../styles/about.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sidus Robotics</title>
	</head>
	<body>
        <Navigation/>

		<section class="content-container" id="about-background">

			<div id="arrow-animation">
				<img src={Arrow.src} alt="">
			</div>
			
			<img src={TeamPic.src} alt="siduslogo.png" id="sidus-about">

			<div id="about-animation">
				<h1 id="about1">ABOUT US</h1>
				<h1 id="about2">ABOUT US</h1>
				<h1 id="about3">ABOUT US</h1>
			</div>

			<div id="teampic-blur"></div>

		</section>

		<section class="content-container" id="about-main-content">
			<h1>OUR MISSION</h1>

			<div>
				<p>
					Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit. 
					Praesent vel mauris et turpis 
					pellentesque consequat ac sed nisl. 
					Duis varius ligula massa, et aliquet 
					massa ullamcorper vel. Aenean sit amet nisi vel 
					tortor commodo mollis in sed urna. Vestibulum ante 
					ipsum primis in faucibus orci luctus et ultrices 
					posuere cubilia curae; Class aptent taciti sociosqu 
					ad litora torquent per conubia nostra, per inceptos 
					himenaeos. Curabitur laoreet pharetra ultricies. 
					Phasellus euismod, sapien vehicula porta interdum, 
					nisi lectus porta tortor, id semper arcu lectus id dui.
					Praesent posuere vestibulum accumsan. 
					Mauris iaculis sed ex tristique rutrum. 
					In dapibus arcu blandit arcu volutpat, 
					et aliquam metus rhoncus.
					Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit. 
					Praesent vel mauris et turpis 
					pellentesque consequat ac sed nisl. 
					Duis varius ligula massa, et aliquet 
					massa ullamcorper vel. Aenean sit amet nisi vel 
					tortor commodo mollis in sed urna. Vestibulum ante 
					ipsum primis in faucibus orci luctus et ultrices 
					posuere cubilia curae; Class aptent taciti sociosqu 
					ad litora torquent per conubia nostra, per inceptos 
					himenaeos. Curabitur laoreet pharetra ultricies. 
					Phasellus euismod, sapien vehicula porta interdum, 
					nisi lectus porta tortor, id semper arcu lectus id dui.
				</p>
			</div>
		</section>
		
		<section class="content-container" id="about-secondary-content">
			<h1>UP AND COMING</h1>

			<div>
				<p>
					Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit. 
					Praesent vel mauris et turpis 
					pellentesque consequat ac sed nisl. 
					Duis varius ligula massa, et aliquet 
					massa ullamcorper vel. Aenean sit amet nisi vel 
					tortor commodo mollis in sed urna. Vestibulum ante 
					ipsum primis in faucibus orci luctus et ultrices 
					posuere cubilia curae; Class aptent taciti sociosqu 
					ad litora torquent per conubia nostra, per inceptos 
					himenaeos. Curabitur laoreet pharetra ultricies. 
					Phasellus euismod, sapien vehicula porta interdum, 
					nisi lectus porta tortor, id semper arcu lectus id dui.
					Praesent posuere vestibulum accumsan. 
					Mauris iaculis sed ex tristique rutrum. 
					In dapibus arcu blandit arcu volutpat, 
					et aliquam metus rhoncus.
					Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit. 
					Praesent vel mauris et turpis 
					pellentesque consequat ac sed nisl. 
					Duis varius ligula massa, et aliquet 
					massa ullamcorper vel. Aenean sit amet nisi vel 
					tortor commodo mollis in sed urna. Vestibulum ante 
					ipsum primis in faucibus orci luctus et ultrices 
					posuere cubilia curae; Class aptent taciti sociosqu 
					ad litora torquent per conubia nostra, per inceptos 
					himenaeos. Curabitur laoreet pharetra ultricies. 
					Phasellus euismod, sapien vehicula porta interdum, 
					nisi lectus porta tortor, id semper arcu lectus id dui.
				</p>
				<img src={CIRC.src} alt="">
			</div>
		</section>

		<section class="content-container" id="about-tertiary-content">
			<h1>OUR TEAM</h1>

			<div class="mechanical-row">
				<h2>MECHANICAL</h2>
				<div class="member-container">
					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>
				</div>
			</div>

			<div class="software-row">
				<h2>SOFTWARE</h2>
				<div class="member-container">
					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>
					
					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>
				</div>
			</div>

			<div class="electrical-row">
				<h2>ELECTRICAL</h2>
				<div class="member-container">
					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>
				</div>
			</div>

			<div class="business-row">
				<h2>BUSINESS</h2>
				<div class="member-container">
					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>

					<div>
						<img src={Placeholder.src} alt="">
						<h3>Placeholder</h3>
						<h4>Placeholder</h4>
						<img src={LinkedIn.src} alt="">
					</div>
				</div>
			</div>
		</section>
		<Footer/>
	</body>
</html>