---
import BRONZE from "../Images/Banners/BRONZE.svg";
import SILVER from "../Images/Banners/SILVER.svg";
import GOLD from "../Images/Banners/GOLD.svg";
import PLATINUM from "../Images/Banners/PLATINUM.svg";
import Arrow from "../Images/Arrow.png"
import Mail from "../Images/Mail_Icon.svg"
import Sidus from "../Images/Logos/FullLogo.png"
import Navigation from "../components/navigation.astro";
import "../styles/global.css";
import Footer from "../components/footer.astro";
import "../styles/sponsors.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sidus Robotics</title>
		<script src="../components/countdown.js"/>
		<script src="../components/lazyload.js" />
    <script src="../components/onscreenload.js" />
	</head>

  <body>
    <Navigation />

    <section class="content-container" id="sponsors-background">
      <h1>BECOME A SPONSOR</h1>
      <div class="content" id="summary">
        <p>
          By becoming a sponsor, you'll be helping us provide students with
          hands-on experience in robotics, engineering, and space exploration
          while also gaining exposure for your brand at national events. View
          our sponsorship tiers below to see the benefits and opportunities
          available at different levels.
        </p>
      </div>
      <div id="arrow-animation">
				<img src={Arrow.src} alt="">
			</div>
    </section>

    <section class="content-container" id="sponsors-main-content">
      <div class="banner-container">
        <div class="blur-load">
          <div class="banner">
            <div class="text-content">
              <h1>BRONZE</h1>
              <h2>$100+ CAD</h2>
              <h3>PERKS</h3>
              <ul>
                <li>COMPANY LOGO ON ROVER AND WEBSITE</li>
              </ul>
            </div>
            <img loading="lazy" src={BRONZE.src} alt="">
          </div>
        </div>
        
        <div class="blur-load">
          <div class="banner">
            <div class="text-content">
              <h1>SILVER</h1>
              <h2>$2000 CAD</h2>
              <h3>PERKS</h3>
              <ul>
                <li>COMPANY LOGO ON ROVER, WEBSITE, AND MECHANDISE</li>
                <li>DEDICATED SOCIAL MEDIA POST</li>
              </ul>
            </div>
            <img loading="lazy" src={SILVER.src} alt="">
          </div>
        </div>

        <div class="blur-load">
          <div class="banner">
            <div class="text-content">
              <h1>GOLD</h1>
              <h2>$3000 CAD</h2>
              <h3>PERKS</h3>
              <ul>
                <li>COMPANY LOGO ON ROVER, WEBSITE, AND MECHANDISE</li>
                <li>DEDICATED SOCIAL MEDIA POST</li>
                <li>LOGO ON ALL SOCIAL MEDIA POSTS</li>
                <li>TEAM RESUME PACKAGE</li>
              </ul>
            </div>
              <img loading="lazy" src={GOLD.src} alt="">
          </div>
        </div>
        
        <div class="blur-load">
          <div class="banner">
            <div class="text-content">
              <h1>PLATINUM</h1>
              <h2>$5000+ CAD</h2>
              <h3>PERKS</h3>
              <ul>
                <li>COMPANY LOGO ON ROVER, WEBSITE, AND MECHANDISE</li>
                <li>DEDICATED SOCIAL MEDIA POST</li>
                <li>LOGO ON ALL SOCIAL MEDIA POSTS</li>
                <li>TEAM RESUME PACKAGE</li>
                <li>SOCIAL EVENT WITH THE TEAM</li>
              </ul>
            </div>
              <img loading="lazy" src={PLATINUM.src} alt="">
          </div>
        </div>


      </div>
    </section>

    <section class="content-container" id="sponsors-secondary-content">
        <div class="blur-load">
          <img loading="lazy" src={Sidus.src} alt="">
        </div>
        
        <div class="mail">
          <div class="blur-load">
            <a href="mailto:sidusrobotics@gmail.com?subject=Inquiries" target="_blank">
              <img loading="lazy" src={Mail.src} alt="">
            </a>
          </div>
          <a href="mailto:sidusrobotics@gmail.com?subject=Inquiries" target="_blank">
            <h1>SIDUSROBOTICS@GMAIL.COM</h1>
          </a>
        </div>
        
    </section>
  <Footer />
</html>
